
<p-toast />
<div class =" flex justify-content-center align-items-center min-h-screen w-full bg-gray-100">
    <p-card header="Formulario libro" class="w-10">
    <div class="flex flex-column gap-2">
        <div class="field">
    <label for="firstname1">Firstname</label>
    <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
</div>
<div class="field">
    <label for="lastname1">Lastname</label>
    <input id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
</div>

    </div>
</p-card>
</div>