<p-toast></p-toast>

<div class="flex justify-content-center align-items-center min-h-screen w-full">
  <p-card header="Formulario libro" class="w-10">
    <form [formGroup]="bookForm" (ngSubmit)="edit ? updateBook() : createBook()" class="flex flex-column gap-2">

      <div class="field">
        <label for="title">Titulo</label>
        <input type="text" pInputText formControlName="title" />
      </div>

      <div class="field">
        <label for="author">Autor</label>
        <input type="text" pInputText formControlName="author" />
      </div>

    </form>
</p-card>
</div>